.mainBox{
    width: 350px;
    border: 2px solid rgb(179, 175, 175);
    border-radius: 20px;
}

.box{
    display: flex;
    justify-content: space-around;
}

.close{
    background-color: rgb(168, 76, 76);
    float: right;
    margin-top: 5px;
    margin-right: 10px;
    color: aliceblue;
    border: 2px solid rgb(160, 52, 52);
    border-radius: 7px;
}